/*

CSS DOCUMENT 
------------

Author: Sahibjot Saggu
Date: August 30, 2014
Filename: style.css

*/

* {
	margin: 0px;
	padding: 0px;
}

a {
	color: #FFF;
}

body {
	background: #C2453F;
	overflow-x: hidden;
	font-family: Arial;
}

#sidebar {
	position: fixed;
	top: 0px;
	right: -250px;
	width: 250px;
	height: 100%;
	background: #2A3239;
}

#close_sidebar {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 25px;
	height: 25px;
	background: transparent url("images/cross.png");
	background-size: cover;
	cursor: pointer;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	transition: background 0.2s;
}


#contents {
	position: absolute;
	top: 100px;
	left: 50px;
}

#contents ul {
	list-style-type: none;
}

#contents ul li {
	display: block;
	width: auto;
	height: 30px;
	line-height: 30px;
	font-family: Raleway;
	font-size: 15px;
	color: #888;
	cursor: pointer;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
}

#contents ul li:hover {
	color: #FFF;
}

#contents ul li#home {
	color: #FFF;
}

#sidebar_footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #111;
	text-align: center;
	line-height: 50px;
	color: #FFF;
	font-family: Raleway;
	font-weight: bold;
}

#close_sidebar:hover {
	background: transparent url("images/cross_white.png");
	background-size: cover;
}

#welcome {
	position: absolute;
	top: 150px;
	left: calc(50% - 450px);
	width: 900px;
	height: 100px;
	font-family: Raleway;
	font-weight: 300;
	text-align: center;
	line-height: 100px;
	font-size: 70px;
	color: #FFF;
}

#main_content {
	position: absolute;
	top: 100%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #26343F url("images/peaks.png") no-repeat center center;
	background-size: cover;
	box-shadow: 0px 0px 15px #000;
	z-index: 2;
}

#heading_title {
	margin: 100px auto;
	width: 600px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
	font-size: 50px;
	color: #FFF;
}

#introduction {
	position: absolute;
	top: 0px;
	left: 5%;
	width: 500px;
	height: auto;
	font-family: Raleway;
	font-size: 30px;
	text-align: left;
	color: #FFF;
}

#main_content2 {
	position: absolute;
	top: 200%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #CCC url("images/dark_hardwood.jpg");
	box-shadow: 0px 0px 15px #000;
	z-index: 1;
}

#edu_table {
	position: absolute;
	top: 200px;
	left: calc(50% - 300px);
	width: 600px;
	font-family: Raleway;
	font-size: 30px;
	color: #FFF;
	text-align: center;
}

#main_content3 {
	position: absolute;
	top: 300%;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #FFF url("images/city.png") no-repeat center bottom;
	background-size: 100%;
}

#under_cons {
	margin: 0px auto;
	width: 450px;
	height: auto;
	text-align: center;
	font-size: 30px;
	font-family: Raleway; 
	font-weight: 300;
}

#footer {
	position: absolute;
	bottom: calc(-300% - 200px);
	left: 0px;
	width: 100%;
	height: 200px;
	z-index: 4;
	background: #000;
}

#github {
	position: absolute;
	top: calc(50% - 32px);
	left: 400px;
	width: 250px;
	height: 65px;
	background: url('images/GitHub-Logo.png') no-repeat;
	background-size: cover;
	cursor: pointer;
}

#simpled {
	position: absolute;
	top: calc(50% - 10px);
	right: 400px;
	width: 255px;
	height: 30px;
	background: url('images/sd-logo.png') no-repeat;
	background-size: cover;
	cursor: pointer;
}